<h1 md-dialog-title>Add Items To Cart</h1>
<md-dialog-content>
  filter by:
  <md-button-toggle-group #group="mdButtonToggleGroup" (change)="filterById(group.value)">
    <md-button-toggle value="-1" checked="true">
      All
    </md-button-toggle>
    <md-button-toggle *ngFor="let category of categories;" value="{{ category.id }}">
      {{ category.name }}
    </md-button-toggle>
  </md-button-toggle-group>
  <md-list>
    <md-list-item *ngFor="let item of filteredItems;">
      {{ item.name }}
      {{ item.count }}
      <shared-spacer></shared-spacer>
      <button md-mini-fab (click)="decrementItem(item.id)" [disabled]="!item.count">
        <md-icon>remove_shopping_cart</md-icon>
      </button>
      <button md-mini-fab (click)="incrementItem(item.id)">
        <md-icon>add_shopping_cart</md-icon>
      </button>
    </md-list-item>
  </md-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button (click)="closeDialog()">Add</button>
</md-dialog-actions>
