<form [formGroup]="addItemForm" autocomplete="off" (ngSubmit)="addItem(addItemForm.value)" novalidate>
  <h1 md-dialog-title>Add New Item</h1>
  <md-dialog-content>
    <md-input-container>
      <input mdInput type="text" formControlName="name" id="name" name="name" placeholder="Name" required [validate-item-exists]="items">
      <md-error *ngIf="addItemForm.controls.name?.errors?.itemExists">{{ addItemForm.controls.name?.errors?.itemExists }}</md-error>
      <md-error *ngIf="addItemForm.controls.name?.errors?.required">Name required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" formControlName="category" id="category" placeholder="Category" [mdAutocomplete]="auto" required>
      <md-error>Category required</md-error>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
       <md-option *ngFor="let category of filteredCategories | async" [value]="category.name">
          {{ category.name }}
       </md-option>
    </md-autocomplete>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button md-dialog-close type="button">Cancel</button>
    <button md-raised-button type="submit" [disabled]="addItemForm.invalid">Save</button>
  </md-dialog-actions>
</form>
