<form #addItemForm="ngForm" autocomplete="off" (ngSubmit)="addItem(addItemForm.value)" novalidate>
  <h1 md-dialog-title>Add New Item</h1>
  <md-dialog-content>
    <md-input-container>
      <input mdInput type="text" (ngModel)="name" id="name" name="name" placeholder="Name" required>
      <md-error>Name required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" (ngModel)="category" id="category" name="category" placeholder="Category" required>
      <md-error>Category required</md-error>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button md-dialog-close type="button">Cancel</button>
    <button md-raised-button type="submit" [disabled]="addItemForm.invalid">Save</button>
  </md-dialog-actions>
</form>
